name: App test run
on: pull_request
jobs:
#  linter:
#    runs-on: ubuntu-22.04
#    container: python:3.10-slim
##    uses: https://github.com/IMaXjI/linter-template/blob/main/.github/workflows/linter.yml
#    steps:
#      - name: Test step
#        run: ls -l
#      - name: Echo
#        run: echo $HOSTNAME
  test_run:
    name: Test run
    runs-on: ubuntu-22.04
    container: python:3.9-slim
#    needs: linter
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Display content
        run: ls -l
      - name: Install requirements
        run: pip install -r $GITHUB_WORKSPACE/requirements.txt
      - name: Execute tests
        run: pytest $GITHUB_WORKSPACE/test
